.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    margin-top: 20px;
  }
  
  .day {
    padding: 10px;
    text-align: center;
    background-color: #e9e9e9;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .day:hover {
    background-color: #ff6666;
  }
  
  .day.selected {
    background-color: #ff9999;
  }
  
  .empty {
    background-color: transparent;
  }
  
  .calendar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .calendar-nav button {
    padding: 5px 10px;
    background-color: #2e3b4e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .calendar-nav button:hover{
    background-color: #09449e;
  }